@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content-container {
  @apply flex flex-col items-center justify-start min-h-screen py-2;
}

@keyframes dropAnimation {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.drop-in {
  animation: dropAnimation 1s ease forwards;
}

.grid-container {
  display: grid;
  gap: 20px; /* Space between items */
  grid-template-columns: repeat(4, 1fr); /* default to 4 columns */
}

/* Adjust for medium-sized screens, e.g., tablets */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

/* Adjust for small screens, e.g., phones */
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 1 column */
  }
}

.playing .darken-image {
  filter: brightness(50%);
}

.playing .icon-overlay {
  display: block;
}

.hover-effect:hover .icon-overlay {
  display: block;
}

.hover-effect:hover .darken-image {
  filter: brightness(50%);
}

.icon-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}


